@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins&display=swap');

body {

    background-color: white;
    font-family: "Poppins", sans-serif;
}
.white {
    background-color: whitesmoke;
}

.navbar * {
color: rgb(15, 4, 57);
  font-size: 1.2rem;  
  font-weight: 500;   
  padding: 0.2rem 0.2rem;  

}
.navbar .btn-primary {
  color: #fff !important;
  justify-content: center;
}

#hero h1, 
h2 {
    font-family: "DM Serif-Display", serif;
    color: whitesmoke;
    
}


#hero {
    background-image: url("../images/background.png");
      background-size: cover;      
  background-position: center; 
  background-repeat: no-repeat;
  height: 90vh;                
  width: 100%;                 
  position: relative;         
  min-height: 500px;
    
}

#hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); 
  z-index: 1;
}

#hero div {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
  padding-top: 40vh; 
}
#hero div {
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.9);
}


/*About section*/
main #about * {
    color: rgb(15, 4, 57);

}
#about{
    background-color: white;
}
.about {
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);

}

/*Templates*/
#templates {
    background-color:rgb(15, 4, 57);
}   

.scroll-gallery {
      display: flex;
      overflow-x: auto;
      scroll-behavior: smooth;
      gap: 1rem;
      padding: 1rem;
      
    }

    .scroll-gallery::-webkit-scrollbar {
      display: none;
    }

    .scroll-item {
      flex: 0 0 auto;
      width: auto;
      height: 30rem;
      border-radius: 12px;
      overflow: hidden;
      position: relative;
      cursor: pointer;
      transition: transform 0.3s ease;
    }

    .scroll-item img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .scroll-item:hover {
      transform: scale(1.05);
    }



/*Templates section*/

 .image-row {
      display: flex;
      justify-content: start; 
      gap: 20px;
    }

    .image-row img {
      width: 400px; 
      border-radius: 10px; 
      height: 28rem;
    }


/*Contact section*/
#contact h2 {
    background-color: white;
    color: rgb(15, 4, 57);
}
#contact h2 {
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
}

.custom-button {
  width: 20%;
  padding: 8px 0;
  font-size: 1.2rem;
  border-radius: 10px;
  margin-bottom: 30px;
}
.custom-button:hover {
 background-color: rgb(15, 4, 57);
      color: #fff;
    }
     footer {
      text-align: center;
      margin-top: 40px;
      font-size: 1.1rem;
      color: rgb(15, 4, 57);
    }

   

    @media (max-width: 768px) {
      .login-container {
        flex-direction: column;
        text-align: center;
      }
    }

/*Media queries*/
/*Use Bootstrap breakpoint for XL screens*/



@media screen and (min-width: 1200px){
    /*Fixes all portfolio cards being too tall in xl screens*/
    #templates .card-text {
        min-height: auto;
    }
}