@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins&display=swap');

body {

    background-color: white;
    font-family: "Poppins", sans-serif;
}
.white {
    background-color: whitesmoke;
}

.navbar * {
color: rgb(15, 4, 57);
  font-size: 1.2rem;  
  font-weight: 500;   
  padding: 0.2rem 0.2rem;  

}
.navbar .btn-primary {
  color: #fff !important;
  justify-content: center;
}

#hero h1, 
h2 {
    font-family: "DM Serif-Display", serif;
    color: whitesmoke;
    
}


#hero {
    background-image: url("../images/background.png");
      background-size: cover;      
  background-position: center; 
  background-repeat: no-repeat;
  height: 90vh;                
  width: 100%;                 
  position: relative;         
  min-height: 500px;
    
}

#hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); 
  z-index: 1;
}

#hero div {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
  padding-top: 40vh; 
}
#hero div {
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.9);
}







/*Templates page*/

.search-form {

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: top;   
   
    margin-top: 60px;
  }

  input[type="text"] {
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid #ccc;
    width: 300px;
    outline: none;
  }

  input[type="text"]:focus {
    border-color: #0078ff;
    box-shadow: 0 0 5px rgba(0,120,255,0.4);
  }

    .search-input {
    background: url('../images/icons8-search.gif') no-repeat 10px center;
    background-size: 18px;
    padding-left: 40px;
  }

@media (max-width: 600px) {
h1 {
font-size: 1.6rem;
margin-bottom: 25px;
}
}

/*Media queries*/
/*Use Bootstrap breakpoint for XL screens*/



@media screen and (min-width: 1200px){
    /*Fixes all portfolio cards being too tall in xl screens*/
    #templates .card-text {
        min-height: auto;
    }
}